Repository MissouriMRR/SUAS-2023, pull requests merged in 2022-10, with the labels that each got.

#26 Skip pylint for ci
  .gitignore
  .pre-commit-config.yaml
  flight/README.md
  integration_tests/README.md
  vision/README.md
Labels: bug

#23 Flight State Machine Framework
  flight/__init__.py
  flight/state_settings.py
  flight/states/__init__.py
  flight/states/airdrop.py
  flight/states/final.py
  flight/states/land.py
  flight/states/odlcs.py
  flight/states/preprocess.py
  flight/states/start.py
  flight/states/state.py
  flight/states/takeoff.py
  flight/states/waypoints.py
Labels: enhancement, flight, infrastructure

#27 initial waypoint moving code
  flight/Waypoint/Move_To_Test.py
  flight/Waypoint/goto.py
Labels: waypoint flight, flight
