Repository MissouriMRR/SUAS-2023, pull requests merged in 2023-04, with the labels that each got.

#106 Improvements to contour filtering and shape class internals
  vision/standard_object/odlc_classify_shape.py
  vision/standard_object/odlc_contour_filtering.py
Labels: enhancement, ODLC, vision

#113 Feature/adjusted contour filtering
  vision/standard_object/odlc_classify_shape.py
  vision/standard_object/odlc_contour_filtering.py
Labels: bug, enhancement, ODLC, vision

#112 Feature/flyover vision pipeline
  vision/README.md
  vision/common/constants.py
  vision/emergent_object/emergent_object_processing.py
  vision/flyover_vision_pipeline.py
  vision/pipeline/emergent_pipeline.py
  vision/pipeline/pipeline_utils.py
  vision/pipeline/standard_pipeline.py
Labels: enhancement, infrastructure, ODLC, vision, pipeline

#118 Hotfix/pylint fixes
  .pylintrc
  communication.py
  flight/Waypoint/goto.py
  flight/flight.py
  flight/maestro/air_drop.py
  flight/move_to_test.py
  flight/odlc_boundaries/execute.py
  flight/odlc_boundaries/search_path.py
  flight/search/cell.py
  flight/search/cell_map.py
  flight/search/helper.py
  flight/search/plot_algo.py
  flight/states/__init__.py
  flight/states/airdrop.py
  flight/states/final.py
  flight/states/land.py
  flight/states/odlcs.py
  flight/states/preprocess.py
  flight/states/start.py
  flight/states/state.py
  flight/states/takeoff.py
  flight/states/waypoints.py
  flight/waypoint/goto.py
  flight/waypoint/move_to_test.py
  flight_manager.py
  logger.py
  poetry.lock
  pyproject.toml
  vision/emergent_object/emergent_object.py
  vision/standard_object/odlc_image_processing.py
Labels: bug, flight, infrastructure, vision

#120 Flight Reorganizing
  flight/test_files/golf_waypoint_test.py
  flight/test_files/hoffman_waypoint_test.py
Labels: flight, infrastructure, repo, updates

#110 Runtime check
  flight/flight.py
  flight_manager.py
Labels: enhancement, flight, infrastructure

#123 Std odlc classification/filtering tweaks & odlc_colors.py bugfix
  vision/standard_object/odlc_classify_shape.py
  vision/standard_object/odlc_colors.py
Labels: bug, enhancement, ODLC, vision

#88 Feature/coordinate_lengths unit tests
  vision/deskew/coordinate_lengths.py
  vision/unit_tests/README.md
  vision/unit_tests/runall.sh
  vision/unit_tests/test_coordinate_lengths.py
Labels: testing, vision, unit test

#125 README's V 1.0
  flight/README.md
  flight/data/README.md
  flight/maestro/README.md
  flight/odlc_boundaries/README.md
  flight/search/README.md
  flight/search/plotter.py
  flight/states/README.md
  flight/test_files/README.md
  flight/test_files/golf_waypoint_test.py
  flight/test_files/hoffman_waypoint_test.py
  flight/waypoint/README.md
  flight/waypoint/goto.py
Labels: documentation, flight

#99 ODLC Pathing State
  flight/data/state.txt
  flight/states/odlcs.py
  flight/states/state.py
Labels: enhancement, flight, ODLC

#122 Feature/airdrop vision pipeline
  vision/README.md
  vision/airdrop_vision_pipeline.py
  vision/common/constants.py
  vision/emergent_object/emergent_object_processing.py
  vision/flyover_vision_pipeline.py
  vision/pipeline/pipeline_utils.py
  vision/pipeline/standard_pipeline.py
Labels: enhancement, infrastructure, vision, pipeline
