Repository MissouriMRR/SUAS-2023, pull requests merged in 2023-03, with the labels that each got.

#58 Add additional needed dependencies
  poetry.lock
  pyproject.toml
Labels: repo, updates

#48 Feature/read odlc
  vision/competition_inputs/bottle.json
  vision/competition_inputs/bottle_reader.py
Labels: enhancement, good first issue, infrastructure, ODLC, vision

#69 Common Image Cropping Function
  vision/common/crop.py
  vision/standard_object/odlc_colors.py
Labels: ODLC, vision

#72 Add ouster-sdk (with examples) to poetry project file
  pyproject.toml
Labels: enhancement, infrastructure, obstacle avoidance, vision

#73 Add custom recording and viewing scripts for LiDAR
  vision/lidar/record_data.py
  vision/lidar/view_recording.py
Labels: enhancement, obstacle avoidance, testing, vision

#59 Text detection for odlc standard objects
  vision/standard_object/odlc_text_detection.py
Labels: enhancement, ODLC, text, vision

#86 Add landing state logic
  flight/states/land.py
Labels: good first issue, flight

#83 Feature/odlc image processing
  vision/standard_object/odlc_image_processing.py
Labels: enhancement, ODLC, vision

#85 feature/odlc-classify-shape
  vision/common/constants.py
  vision/standard_object/odlc_classify_shape.py
  vision/standard_object/odlc_contour_filtering.py
Labels: enhancement, ODLC, vision

#84 Waypoint Flight State
  flight/states/waypoints.py
Labels: enhancement, flight, infrastructure

#98 Add exclusion for consider-using-enumerate
  .pylintrc
Labels: bug, repo

#101 Bounding Box Area
  vision/common/constants.py
  vision/deskew/camera_distances.py
Labels: enhancement, vision, emergent object

#102 Deskew Fixes
  vision/common/constants.py
  vision/deskew/camera_distances.py
  vision/deskew/deskew.py
  vision/deskew/vector_utils.py
Labels: bug, vision

#104 Corrected BoundingBox class usage
  vision/standard_object/odlc_contour_filtering.py
Labels: bug, ODLC, vision

#89 Air Drop Mechanism Control and Maestro Class
  flight/maestro/air_drop.py
  flight/maestro/maestro.py
Labels: air drop

#103 Feature/emergent object processing
  poetry.lock
  pyproject.toml
  vision/common/constants.py
  vision/common/odlc_characteristics.py
  vision/emergent_object/emergent_object_processing.py
Labels: enhancement, vision, emergent object
