Repository MissouriMRR/SUAS-2023, pull requests merged in 2024-04, with the labels that each got.

#184 Camera unit test
  flight/test_files/camera_unit_test.py
Labels: flight, vision

#178 Add kill switch restart and keep track of state machine progress
  flight/test_files/airdrop_unit_test.py
  flight/test_files/kill_switch_test.py
  state_machine/drone.py
  state_machine/flight_manager.py
  state_machine/state.json
  state_machine/state_machine.py
  state_machine/state_tracker.py
  state_machine/states/impl/airdrop_impl.py
  state_machine/states/impl/land_impl.py
  state_machine/states/impl/odlc_impl.py
  state_machine/states/impl/start_impl.py
  state_machine/states/impl/takeoff_impl.py
  state_machine/states/impl/waypoint_impl.py
Labels: flight

#180 ODLC state unit test
  flight/data/output.json
  flight/test_files/odlc_state_test.py
  state_machine/flight_manager.py
  state_machine/flight_settings.py
  state_machine/state_tracker.py
  state_machine/states/impl/odlc_impl.py
  state_machine/states/impl/waypoint_impl.py
Labels: flight, infrastructure, pipeline

#177 Vision Emergent Object Integration Test
  .gitignore
  flight/data/golf_data.json
  flight/data/waypoint_data.json
  flight/extract_gps.py
  flight/waypoint/goto.py
  integration_tests/__init__.py
  integration_tests/emg_obj_integration_test.py
  integration_tests/emg_obj_vision.py
  state_machine/flight_manager.py
  state_machine/flight_settings.py
  state_machine/states/impl/odlc_impl.py
  state_machine/states/impl/waypoint_impl.py
Labels: testing, vision, emergent object
