Repository MissouriMRR/SUAS-2023, pull requests merged in 2024-06, with the labels that each got.

#195 Fix flight manager issues and modify states for physical testing
  flight/data/bottles.json
  flight/data/output.json
  flight/test_files/connection_test.py
  flight/test_files/golf_waypoint_test.py
  flight/test_files/kill_switch_test.py
  flight/test_files/odlc_state_test.py
  flight/test_files/state_machine_test.py
  flight/test_files/suas_readiness_test.py
  flight/test_files/suas_test.py
  flight/test_files/waypoint_state_test.py
  state_machine/flight_manager.py
  state_machine/states/impl/airdrop_impl.py
  state_machine/states/impl/land_impl.py
  state_machine/states/impl/odlc_impl.py
  state_machine/states/impl/start_impl.py
  state_machine/states/impl/waypoint_impl.py
Labels: enhancement, pipeline

#189 ODLC Contour Classification
  vision/pipeline/standard_pipeline.py
  vision/standard_object/odlc_classify_shape.py
  vision/standard_object/odlc_colors.py
  vision/standard_object/sample_ODLCs.json
Labels: enhancement, ODLC, vision

#194 Standard Object Contour Gathering
  vision/pipeline/standard_pipeline.py
  vision/standard_object/odlc_classify_shape.py
  vision/standard_object/odlc_colors.py
  vision/standard_object/odlc_contour_detection.py
  vision/standard_object/odlc_text_detection.py
Labels: enhancement, ODLC, vision

#197 Flight-Vision pipeline fixes
  flight/camera.py
  flight/data/golf_data.json
  flight/test_files/connection_test.py
  flight/test_files/odlc_state_test.py
  integration_tests/emg_obj_vision.py
  state_machine/states/impl/airdrop_impl.py
  state_machine/states/impl/land_impl.py
  state_machine/states/impl/odlc_impl.py
  vision/flyover_vision_pipeline.py
  vision/pipeline/standard_pipeline.py
  vision/standard_object/odlc_classify_shape.py
  vision/unit_tests/photo_model_test.py
Labels: pipeline
